<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../asset/css/undangan-v50/style.css">
    <link rel="stylesheet" href="../../asset/js/undangan-v16/script.js">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Wedding</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body style="background-color: #1c2532;">

    <!-- content1 -->
    <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto">
        <div class="decorations">
            <img src="../../../asset/img/undangan-v50/atass-kiri.png" alt="" class="left-decoration">
            <img src="../../../asset/img/undangan-v50/atas.png" alt="" class="right-decoration">
        </div>

        <div class="content1">
            <div class="text">
                <p>
                    Di antara tanda-tanda (kebesaran)- <br>
                    Nya ialah bahwa Dia menciptakan <br>
                    pasangan-pasangan untukmu dari <br>
                    (jenis) dirimu sendiri agar kamu <br>
                    merasa tenteram kepadanya. Dia <br>
                    menjadikan di antaramu rasa cinta <br>
                    dan kasih sayang. Sesungguhnya <br>
                    pada yang demikian itu benar-benar <br>
                    terdapat tanda-tanda (kebesaran <br>
                    Allah) bagi kaum yang berpikir.
                </p>
            </div>
            <div class="surat">
                <p>(Ar-Rum: 21)</p>
            </div>
        </div>

        <div class="bawahh">
            <img src="../../../asset/img/undangan-v50/bawah.png" alt="Left" class="bawah">
            <img src="../../../asset/img/undangan-v50/bawah-kanan.png" alt="Right" class="bawah2">
        </div>
    </div>

    <!-- content2 -->
    <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto">
        <div class="decorations">
            <img src="../../../asset/img/undangan-v50/atass-kiri.png" alt="" class="left-decoration">
            <img src="../../../asset/img/undangan-v50/atas.png" alt="" class="right-decoration">
        </div>

        <div class="content2">
            <div class="title-arab">
                <p>بِسْمِ اللّهِ الرَّحْمَنِ الرَّحِيْمِ</p>
            </div>

            <div class="text-salam">
                <p>
                    Assalamu'alaikum Warahmatullahi Wabarakatuh
                    <br><br>
                    Maha suci Allah SWT, yang telah menciptakan <br>
                    makhluk-Nya berpasang-pasangan, Ya Allah, dengan <br>
                    kerendahan hati, perkenankanlah kami menikahkan <br>
                    putra-putri kami:
                </p>
            </div>

            <div class="mempelai">
                <p class="nama"> Myusulies Gibran</p>
                <p class="ortu">Putri dari Bapak Criss dan Ibu Laurent</p>
                <p class="dan">&</p>
                <p class="nama">Gibbons Gibran</p>
                <p class="ortu">Putra dari Bapak Zain dan Ibu Kembang</p>
            </div>
        </div>

        <div class="bawahh">
            <img src="../../../asset/img/undangan-v50/bawah.png" alt="Left" class="bawah">
            <img src="../../../asset/img/undangan-v50/bawah-kanan.png" alt="Right" class="bawah2">
        </div>
    </div>

    <!-- content3 -->
    <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto">

        <div class="decorations">
            <img src="../../../asset/img/undangan-v50/atass-kiri.png" alt="" class="left-decoration">
            <img src="../../../asset/img/undangan-v50/atas.png" alt="" class="right-decoration">
        </div>

        <div class="content3">

        </div>

        <div class="bawahh">
            <img src="../../../asset/img/undangan-v50/bawah.png" alt="Left" class="bawah">
            <img src="../../../asset/img/undangan-v50/bawah-kanan.png" alt="Right" class="bawah2">
        </div>
    </div>

    <!-- content4 -->
    <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto">
        <div class="decorations">
            <img src="../../../asset/img/undangan-v50/atass-kiri.png" alt="" class="left-decoration">
            <img src="../../../asset/img/undangan-v50/atas.png" alt="" class="right-decoration">
        </div>

        <div class="invitation">
            <div class="section">
                <p class="akad" data-aos="fade-down" data-aos-duration="3000">Akad Nikah</p>
                <div class="date-info" data-aos="fade-up" data-aos-duration="3000">
                    <div class="day">18</div>
                    <div class="event-divider"></div>
                    <div class="date">
                        <span class="datee">Mei</span>
                        <!-- <span>Januari</span> -->
                    </div>
                    <div class="event-divider"></div>
                    <div class="year">25</div>
                </div>
                <p class="time" data-aos="fade-up" data-aos-duration="3000">Pukul: 10:00 WIB s/d Selesai</p>
                <p class="lokasi" data-aos="fade-up" data-aos-duration="3000">Lokasi Acara</p>
                <p class="add" data-aos="fade-up" data-aos-duration="3000">
                    Kediaman Mempelai Wanita <br>
                    KaliTengah Rt 003/Rw 005 Kec. Kalteng, Kab. <br>
                    Wonogiri, Jawa Tengah
                </p>
            </div>

            <div class="countdown-container" data-aos="fade-up" data-aos-duration="3000">
                <div class="countdown-box">
                    <div class="countdown-number" id="days">00</div>
                    <div class="countdown-label">
                        Hari
                    </div>
                </div>
                <div class="countdown-box">
                    <div class="countdown-number" id="hours">00</div>
                    <div class="countdown-label">
                        Jam
                    </div>
                </div>
                <div class="countdown-box">
                    <div class="countdown-number" id="minutes">00</div>
                    <div class="countdown-label">
                        Menit
                    </div>
                </div>
                <div class="countdown-box">
                    <div class="countdown-number" id="seconds">00 </div>
                    <div class="countdown-label">
                        Detik
                    </div>
                </div>
            </div>
        </div>

        <div class="bawahh">
            <img src="../../../asset/img/undangan-v50/bawah.png" alt="Left" class="bawah">
            <img src="../../../asset/img/undangan-v50/bawah-kanan.png" alt="Right" class="bawah2">
        </div>
    </div>

    <!-- content5 -->
    <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto">
        <div class="decorations">
            <img src="../../../asset/img/undangan-v50/atass-kiri.png" alt="" class="left-decoration">
            <img src="../../../asset/img/undangan-v50/atas.png" alt="" class="right-decoration">
        </div>

        <div class="content5">
            <div class="gmaps" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3956.958789388384!2d108.50373777413101!3d-7.358516472402204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6f61000c5c5cf5%3A0x8e3621597c6899ab!2sKarang%20tengah!5e0!3m2!1sid!2sid!4v1735532461064!5m2!1sid!2sid"
                    width="330" height="210" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>


            <div class="btn-invit">
                <a href="https://maps.app.goo.gl/HrmR7PY2BZYJCfDk8" class="custom-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path
                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    </svg>
                    Lihat Lokasi
                </a>
            </div>

        </div>

        <div class="bawahh">
            <img src="../../../asset/img/undangan-v50/bawah.png" alt="Left" class="bawah">
            <img src="../../../asset/img/undangan-v50/bawah-kanan.png" alt="Right" class="bawah2">
        </div>
    </div>

    <!-- content6 -->
    <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto">

        <div class="decorations">
            <img src="../../../asset/img/undangan-v50/atass-kiri.png" alt="" class="left-decoration">
            <img src="../../../asset/img/undangan-v50/atas.png" alt="" class="right-decoration">
        </div>

        <div class="content6">
            <div class="gallery-container">
                <div class="gallery-frame frame-1"></div>
                <div class="gallery-frame frame-2"></div>
                <div class="gallery-frame frame-3"></div>
                <div class="gallery-frame frame-4"></div>
                <div class="gallery-frame frame-5"></div>
            </div>
        </div>

        <div class="bawahh">
            <img src="../../../asset/img/undangan-v50/bawah.png" alt="Left" class="bawah">
            <img src="../../../asset/img/undangan-v50/bawah-kanan.png" alt="Right" class="bawah2">
        </div>
    </div>

    <!-- content7 -->
    <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto">

        <div class="decorations">
            <img src="../../../asset/img/undangan-v50/atass-kiri.png" alt="" class="left-decoration">
            <img src="../../../asset/img/undangan-v50/atas.png" alt="" class="right-decoration">
        </div>

        <div class="content7">
            <div class="title-rsvp" data-aos="fade-down" data-aos-duration="3000">
                <p>Do’a Untuk Pengantin</p>
            </div>

            <div class="text-rsvp" data-aos="fade-up" data-aos-duration="3000">
                <p>
                    "Semoga Allah memberkahimu di waktu <br>
                    bahagia dan memberkahimu di waktu susah, <br>
                    serta semoga Allah
                    mempersatukan kalian <br>
                    berdua dalam kebaikan"
                    <br> <br>
                    [HR. Abu Daud]
                    <br><br>
                    Tekan tombol dibawah ini untuk mengirim <br>
                    ucapan dan konfirmasi kehadiran
                </p>
                
                <div class="button">
                    <a href="form.html" class="custom-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg> Kirim Ucapan
                    </a>
                </div>
                

            </div>
        </div>

        <div class="bawahh">
            <img src="../../../asset/img/undangan-v50/bawah.png" alt="Left" class="bawah">
            <img src="../../../asset/img/undangan-v50/bawah-kanan.png" alt="Right" class="bawah2">
        </div>
    </div>

    <!-- content8 -->
    <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto">

        <div class="decorations">
            <img src="../../../asset/img/undangan-v50/atass-kiri.png" alt="" class="left-decoration">
            <img src="../../../asset/img/undangan-v50/atas.png" alt="" class="right-decoration">
        </div>

        <div class="content8">
            <div class="title-close" data-aos="fade-up" data-aos-duration="3000">
                Merupakan suatu kehormatan dan kebahagiaan bagi kami apabila <br>
                Bapak/Ibu/Saudara/i berkenan hadir untuk memberikan doa <br>
                restu kepada putra-putri kami.
                <br><br>
                Atas kehadiran dan do’a restunya, kami ucapkan terima kasih
            </div>

            <div class="happy-text" data-aos="fade-up" data-aos-duration="3000">
                Kami yang berbahagia
            </div>

            <div class="families">
                <div class="family" data-aos="fade-up" data-aos-duration="3000">
                    <div class="family-title">Keluarga</div>
                    <div class="family-names">Bpk Mulyadi & Ibu Sulastri</div>
                </div>
                <div class="family" data-aos="fade-up" data-aos-duration="3000">
                    <div class="family-title">Keluarga</div>
                    <div class="family-names">Bpk Sugeng & Ibu Tri Rahayu</div>
                </div>
            </div>
        </div>

        <div class="bawahh">
            <img src="../../../asset/img/undangan-v50/bawah.png" alt="Left" class="bawah">
            <img src="../../../asset/img/undangan-v50/bawah-kanan.png" alt="Right" class="bawah2">
        </div>
    </div>


    <script>
        function updateCountdown() {
            const targetDate = new Date('2025-05-18T09:00:00').getTime();

            function update() {
                const now = new Date().getTime();
                const distance = targetDate - now;

                // Calculate time components
                const days = Math.floor(distance / (1000 * 60 * 60 * 24));
                const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                const seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Update DOM elements
                document.getElementById('days').textContent = days.toString().padStart(2, '0');
                document.getElementById('hours').textContent = hours.toString().padStart(2, '0');
                document.getElementById('minutes').textContent = minutes.toString().padStart(2, '0');
                document.getElementById('seconds').textContent = seconds.toString().padStart(2, '0');

                // If countdown is finished
                if (distance < 0) {
                    clearInterval(interval);
                    document.getElementById('days').textContent = '00';
                    document.getElementById('hours').textContent = '00';
                    document.getElementById('minutes').textContent = '00';
                    document.getElementById('seconds').textContent = '00';
                }
            }

            // Initial call
            update();
            // Update every second
            const interval = setInterval(update, 1000);
        }

        // Start the countdown when the page loads
        window.addEventListener('load', updateCountdown);
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>