<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../asset/css/undangan-v12/style.css">
    <link rel="stylesheet" href="../../../asset/js/undangan-v12/script.js">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Khitan Invitation</title>
</head>

<body style="background-color: #948572;">
    <audio hidden autoplay loop>
        <source src="../../../asset/audio/Cublak Cublak Suweng (Tembang Dolanan) - Lagu Anak Indonesia Populer_bVVyx5M5AQc.mp3" type="audio/mp3">
    </audio>
    <!-- content1 -->
    <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto">
        <div class="invitation-card">

            <div class="cloud-pattern">
                <img src="../../../asset/img/undangan-v12/Group 6.png" alt="" data-aos="zoom-in-up" data-aos-duration="3000">
            </div>
            <div class="tentang text-center p-2" data-aos="zoom-in-up" data-aos-duration="3000">
                <h3 class="mb-4">Al Baqarah Ayat 124</h3>
                <p>"Dan (ingatlah), ketika Ibrahim diuji Tuhannya dengan beberapa kalimat (perintah dan larangan),
                    lalu
                    Ibrahim melaksanakannya. Allah berfirman, 'Sesungguhnya Aku akan menjadikanmu imam bagi seluruh
                    manusia.' Ibrahim berkata, '(Dan saya mohon juga) dari keturunanku.' Allah berfirman, 'Janji-Ku
                    (ini) tidak mengenai orang-orang yang zalim.'"</p>
            </div>

            <div class="d-flex justify-content-between mt-3">
                <img src="../../../asset/img/undangan-v12/Group 3.png" alt="Dekorasi" class="bottom-left"
                    data-aos="fade-up" data-aos-duration="3000">
                <img src="../../../asset/img/undangan-v12/Group 4.png" alt="Dekorasi" class="bottom-right"
                    data-aos="fade-up" data-aos-duration="3000">
            </div>
            <br>
            <!-- content2 -->
            <div class="text-center mb-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
                data-aos-duration="3000">
                <div class="image-frame mb-3">
                    <img src="../../../asset/img/undangan-v12/Group 6.png" alt="Frame" class="background-frame">
                    <img src="../../../asset/img/undangan-v12/orang.png" alt="Orang" class="foreground-image">
                </div>
            </div>

            <div class="text-center" data-aos="zoom-in-up" data-aos-duration="3000">
                <p>Assalamualaikum wr wb.</p>
                <p>Dengan memohon rahmat dan ridho Allah SWT, kami mengundang Bapak/Ibu/Saudara/i untuk menghadiri
                    acara tasyakuran khitan putra kami tercinta:</p> <br>
                <h1>Muhammad Vidi Aldiano</h1>
                <!-- <h1 class="fw-bold">Muhammad Vidi Aldiano</h1> -->
                <p>Putra Bpk. xxx & Ibu xxx</p>
            </div>

            <div class="d-flex justify-content-between mt-3">
                <img src="../../../asset/img/undangan-v12/Group 3.png" alt="Dekorasi" class="bottom-left"
                    data-aos="fade-up" data-aos-duration="3000">
                <img src="../../../asset/img/undangan-v12/Group 4.png" alt="Dekorasi" class="bottom-right"
                    data-aos="fade-up" data-aos-duration="3000">
            </div>
            <br>
            <!-- content3 -->
            <div class="cloud-pattern">
                <img src="../../../asset/img/undangan-v12/Group 6.png" alt="" data-aos="zoom-in-up" data-aos-duration="3000">
            </div>

            <div class="event-details" data-aos="zoom-in-up" data-aos-duration="3000">
                <h2>Walimatul Khitan</h2>
                <p>20 November 2024</p>
                <p>Pukul 14.00 WIB - Selesai</p>
                <p>Hotel Gunawangsa Merr</p>
                <p>Jl. Raya Kedung Baruk No.96, Kedung Baruk, Kec. Rungkut, Surabaya, Jawa Timur 60298</p>
                <div class="countdown" data-aos="zoom-in-up" data-aos-duration="3000">
                    <div class="countdown-item">
                        <h3 id="days">0</h3>
                        <p>Hari</p>
                    </div>
                    <div class="countdown-item">
                        <h3 id="hours">0</h3>
                        <p>Jam</p>
                    </div>
                    <div class="countdown-item">
                        <h3 id="minutes">0</h3>
                        <p>Menit</p>
                    </div>
                    <div class="countdown-item">
                        <h3 id="seconds">0</h3>
                        <p>Detik</p>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between mt-3">
                <img src="../../../asset/img/undangan-v12/Group 3.png" alt="Dekorasi" class="bottom-left"
                    data-aos="fade-up" data-aos-duration="3000">
                <img src="../../../asset/img/undangan-v12/Group 4.png" alt="Dekorasi" class="bottom-right"
                    data-aos="fade-up" data-aos-duration="3000">
            </div>
            <br>
            <!-- content4 -->
            <div class="cloud-pattern">
                <img src="../../../asset/img/undangan-v12/Group 6.png" alt="" data-aos="zoom-in-up" data-aos-duration="3000">
            </div>

            <div class="venue-section">
                <div class="venue-image" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
                    data-aos-duration="3000">
                    <img src="../../../asset/img/undangan-v12/images.png" alt="Hotel Gunawangsa Merr">
                    <h5>Hotel Gunawangsa Merr</h5>
                </div>
                <a href="" class="open-button" style="margin-bottom: 100px;" data-aos="zoom-in-up" data-aos-duration="3000">Petunjuk ke Lokasi</a>
            </div>

            <div class="d-flex justify-content-between mt-3">
                <img src="../../../asset/img/undangan-v12/Group 3.png" alt="Dekorasi" class="bottom-left"
                    data-aos="fade-up" data-aos-duration="3000">
                <img src="../../../asset/img/undangan-v12/Group 4.png" alt="Dekorasi" class="bottom-right"
                    data-aos="fade-up" data-aos-duration="3000">
            </div>

            <!-- content5 -->
            <div class="cloud-pattern">
                <img src="../../../asset/img/undangan-v12/Group 6.png" alt="" data-aos="zoom-in-up" data-aos-duration="3000">
            </div>

            <div class="text text-center" data-aos="zoom-in-up" data-aos-duration="3000">
                <p>Kehadiran dan doa dari Bapak/Ibu/Saudara/i akan <br>
                    sangat berarti bagi kami dalam perayaan khitan <br>
                    putra kami yang istimewa ini. Kami berharap <br>
                    momen ini semakin berkesan dengan kehadiran <br>
                    dan pesan baik dari Anda. Mohon konfirmasi <br>
                    kehadiran dan kirimkan ucapan selamat melalui <br>
                    formulir di bawah ini. Terima kasih atas perhatian, <br>
                    kehadiran, dan doanya.</p> <br><br>
                <p>Kirim Ucapan Untuk M. Vidi Aldiano dan <br>
                    Konfirmasi Kehadiran.</p>
                <a href="" class="open-button" style="margin-bottom: 100px;">Kirim Ucapan & Konfirmasi</a>
            </div>

            <div class="d-flex justify-content-between mt-3">
                <img src="../../../asset/img/undangan-v12/Group 3.png" alt="Dekorasi" class="bottom-left"
                    data-aos="fade-up" data-aos-duration="3000">
                <img src="../../../asset/img/undangan-v12/Group 4.png" alt="Dekorasi" class="bottom-right"
                    data-aos="fade-up" data-aos-duration="3000">
            </div>

            <!-- content6 -->
            <div class="cloud-pattern">
                <img src="../../../asset/img/undangan-v12/Group 6.png" alt="" data-aos="zoom-in-up" data-aos-duration="3000">
            </div>

            <div class="text-center" data-aos="zoom-in-up" data-aos-duration="3000">
                <h1>Tanda Kasih</h1>
                <p>Kami sangat berterima kasih atas kehadiran Anda dan <br>
                    hadiah yang indah, yang telah membawa semangat dan <br>
                    keceriaan dalam tasyakuran khitan anak kami.</p>
            </div>

            <div class="card-2" data-aos="zoom-in-up" data-aos-duration="3000">
                <div class="bank-card">
                    <img src="../../../asset/img/undangan-v12/Frame.png" alt="Wave Icon" class="wave-icon" />
                    <img src="../../../asset/img/undangan-v12/layer1.png" alt="BRI Logo" class="bri-logo" />
                    <div class="account-number">1200896543786734</div>
                    <button class="copy-btn" onclick="copyNumber(this)">COPY</button>
                    <div class="name">ADARSH SAXENA</div>
                    <div class="expiry">09/26</div>
                </div>
            </div>
            <br>
            <div class="card-2" data-aos="zoom-in-up" data-aos-duration="3000">
                <div class="bank-card">
                    <img src="../../../asset/img/undangan-v12/Frame.png" alt="Wave Icon" class="wave-icon" />
                    <img src="../../../asset/img/undangan-v12/layer1.png" alt="BRI Logo" class="bri-logo" />
                    <div class="account-number">1200896543786734</div>
                    <button class="copy-btn" onclick="copyNumber(this)">COPY</button>
                    <div class="name">ADARSH SAXENA</div>
                    <div class="expiry">09/26</div>
                </div>
            </div>

            <div class="d-flex justify-content-between mt-3">
                <img src="../../../asset/img/undangan-v12/Group 3.png" alt="Dekorasi" class="bottom-left"
                    data-aos="fade-up" data-aos-duration="3000">
                <img src="../../../asset/img/undangan-v12/Group 4.png" alt="Dekorasi" class="bottom-right"
                    data-aos="fade-up" data-aos-duration="3000">
            </div>

            <!-- content7 -->
            <div class="cloud-pattern">
                <img src="../../../asset/img/undangan-v12/Group 6.png" alt="" data-aos="zoom-in-up" data-aos-duration="3000">
            </div>

            <div class="text1 text-center" data-aos="zoom-in-up" data-aos-duration="3000">
                <h1>Tanda Kasih</h1>
                <p>Merupakan suatu kebanggaan dan kehormatan bagi kami <br>
                    apabila Bapak/Ibu/Saudara/i berkenan hadir memeriahkan <br>
                    acara Tasyakuran Khitan Anak kami.</p>
            </div>

            <div class="text-center text" data-aos="zoom-in-up" data-aos-duration="3000">
                <p>Hormat Kami, <br>
                    Bpk.xxx dan Ibu.xxx</p>
            </div>

            <div class="d-flex justify-content-between mt-3">
                <img src="../../../asset/img/undangan-v12/Group 3.png" alt="Dekorasi" class="bottom-left">
                <img src="../../../asset/img/undangan-v12/Group 4.png" alt="Dekorasi" class="bottom-right">
            </div>
        </div>
    </div>

    <script>
        function copyNumber(button) {
            // Get the account number from the previous sibling element
            const accountNumber = button.previousElementSibling.textContent;

            // Create a temporary textarea element to copy the text
            const textarea = document.createElement('textarea');
            textarea.value = accountNumber;
            document.body.appendChild(textarea);

            // Select and copy the text
            textarea.select();
            document.execCommand('copy');

            // Remove the temporary textarea
            document.body.removeChild(textarea);

            // Show success feedback
            const originalText = button.textContent;
            button.textContent = 'Copied!';
            button.classList.add('success');

            // Reset button after 2 seconds
            setTimeout(() => {
                button.textContent = originalText;
                button.classList.remove('success');
            }, 2000);
        }

    </script>

    <script>
        // Set tanggal target (contoh: 7 hari dari sekarang)
        const targetDate = new Date();
        targetDate.setDate(targetDate.getDate() + 1);

        function updateCountdown() {
            const currentDate = new Date();
            const difference = targetDate - currentDate;

            const days = Math.floor(difference / (1000 * 60 * 60 * 24));
            const hours = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((difference % (1000 * 60)) / 1000);

            document.getElementById('days').textContent = days.toString().padStart(2, '0');
            document.getElementById('hours').textContent = hours.toString().padStart(2, '0');
            document.getElementById('minutes').textContent = minutes.toString().padStart(2, '0');
            document.getElementById('seconds').textContent = seconds.toString().padStart(2, '0');

            if (difference < 0) {
                clearInterval(timerInterval);
                document.getElementById('days').textContent = '00';
                document.getElementById('hours').textContent = '00';
                document.getElementById('minutes').textContent = '00';
                document.getElementById('seconds').textContent = '00';
            }
        }

        // Update setiap detik
        const timerInterval = setInterval(updateCountdown, 1000);

        // Initial call
        updateCountdown();
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>