@import url('https://fonts.googleapis.com/css2?family=Copse&family=Italiana&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Love+Light&family=Lovers+Quarrel&family=Luxurious+Script&display=swap');

.row {
    min-height: 100vh;
    background: linear-gradient(to bottom, #ffffff, #B3C8CF);
}

.atass {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.atas {
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 1;
}

.decorations {
    position: relative;
    width: 100%;
    height: 100%;
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: auto;
    z-index: 1;
}

.corner-decoration {
    position: relative;
    width: 100%;
    height: 100px;
    /* overflow: hidden; */
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: auto;
    z-index: 1;
}

.bawahh {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 200px;
}

.bawah {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}


/* content1 */
.monogram {
    width: 128px;
    height: 128px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.monogram div {
    color: #64868E;
    position: absolute;
}

.monogram .letter-L {
    font-size: 64px;
    font-family: "Love Light", cursive;
    top: 0;
    left: 25%;
}

.monogram .and {
    font-size: 50px;
    font-family: "Love Light", cursive;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.monogram .letter-T {
    font-size: 64px;
    font-family: "Love Light", cursive;
    top: 50%;
    bottom: 0;
    right: 30%;
}

.title-pembuka {
    font-family: "Lora", serif;
    color: #307B95;
    text-align: center;
    z-index: 2;
    margin-bottom: 100px;
}

/* content2 */
.pembuka {
    text-align: center;
}

.bismillah {
    font-size: 30px;
    font-family: "Love Light", cursive;
    color: #334257;
    margin-top: 150px;
}

.salam {
    font-size: 15px;
    font-family: "Lora", serif;
    color: #307B95;
}

.text2 {
    text-align: center;
    color: #4866A1;
    font-size: 16px;
    font-family: "Lora", serif;
}

.mempelai {
    text-align: center;
    margin-bottom: 150px;
    z-index: 2;
}

.pengantin,
.dan {
    text-align: center;
    color: #64868E;
    font-size: 50px;
    font-family: "Love Light", cursive;
}

.ortu {
    font-size: 15px;
    font-family: "Lora", serif;
    color: #4866A1;
}

/* content3 */
.invitation {
    text-align: center;
    z-index: 2;
}

.section {
    margin-bottom: 20px;
}

.akad {
    font-family: "Lovers Quarrel", cursive;
    font-size: 50px;
    color: #647DB0;
    margin: 10px 0;
    margin-top: 150px;
}

.event-divider {
    width: 1px;
    height: 50px;
    background-color: #000000;
    opacity: 0.3;
}

.date-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}

.date-info .day,
.date-info .year {
    font-family: "Lora", serif;
    font-size: 20px;
    color: #4866A1;
}

.datee {
    font-family: "Lora", serif;
    font-size: 24px;
    color: #A888B5;
}

.date-info .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: #4866A1;
    font-family: "Lora", serif;
}

.lokasi {
    font-size: 14px;
    color: #4866A1;
    margin-top: 25px;
}

.time {
    font-size: 14px;
    color: #4866A1;
    margin: 5px 0;
}

.add {
    font-size: 14px;
    color: #4866A1;
    margin: 5px 0;
}

.invit {
    font-family: "Lovers Quarrel", cursive;
    font-size: 50px;
    color: #647DB0;
}

.open-button {
    font-family: "EB Garamond", serif;
    display: inline-block;
    background-color: #789DBC;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    border: none;
    margin: 20px 0;
    margin-bottom: 200px;
}

.open-button:hover {
    background-color: #789dbcc8;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

.countdown-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: "Lustria", serif;
}

.countdown-box {
    background-color: #64868EDB;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    min-width: 60px;
}

.countdown-number {
    font-size: 24px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.countdown-label hr {
    color: black;
}

.countdown-label {
    font-size: 14px;
    color: #ffffff;
    margin: 5px 0 0 0;
    text-transform: uppercase;
}

/* content4 */
.galeri {
    color: #334257;
    text-align: center;
    font-size: 50px;
    font-family: "Lovers Quarrel", serif;
}

.bodi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.box {
    background-color: #D9D9D9;
    border-radius: 5px;
}

/* Box Sizes */
.box-1,
.box-2,
.box-11,
.box-12 {
    width: 171px;
    height: 148px;
    transform: translateX(25%);
}

.box-3 {
    width: 103px;
    height: 148px;
    transform: translateX(8%);
}

.box-5 {
    width: 103px;
    height: 148px;
    transform: translateX(-67%);
}

.box-4 {
    width: 135px;
    height: 148px;
    transform: translateX(-35%);
}

.box-6,
.box-7 {
    width: 171px;
    height: 148px;
    transform: translateX(25%);
}

/* Empty Space Handling */
.spacer {
    width: 0;
    height: 0;
}


/* content5 */
.lima {
    z-index: 2;
    transform: translateY(25%);
}

.title-rsvp {
    font-size: 47px;
    text-align: center;
    color: #334257;
    font-family: "Love Light", serif;
}

.text-rsvp {
    font-size: 15px;
    font-family: "Lora", serif;
    text-align: center;
    color: #307B95;
    margin-bottom: 300px;
}

.custom-button {
    background-color: #789DBC;
    /* Warna biru tua */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    /* Rounded edges */
    padding: 10px 20px;
    font-family: "Lora", serif;
    font-size: 10px;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.custom-button i.icon {
    font-size: 18px;
}

.custom-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.custom-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* content6 */
.enam {
    z-index: 2;
    transform: translateY(20%);
    margin-bottom: 150px;
}

.tanda {
    font-size: 50px;
    color: #334257;
    text-align: center;
    font-family: "Lovers Quarrel", serif;
}

.title-hadiah {
    font-size: 13px;
    font-family: "Lora", serif;
    text-align: center;
    color: #307B95;
}

.boxxs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 270px;
}

.boxx {
    width: 254px;
    height: 141px;
    background-color: #D9D9D9;
    border-radius: 6px;
    margin-bottom: 10px;
}

/* content7 */
.tujuh {
    z-index: 2;
    transform: translateY(20%);
    margin-bottom: 150px;
}

.nama-mempelai {
    font-family: "Love Light", serif;
    font-size: 47px;
    text-align: center;
    color: #64868E;
}

.title-close {
    font-size: 12px;
    font-family: "Lora", serif;
    text-align: center;
    color: #307B95;
}

.arabic {
    font-family: "Luxurious Script", serif;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
    color: #64868E;
}

.happy-text {
    text-align: center;
    margin: 30px 0;
    font-size: 15px;
    font-family: "Lora", serif;
    color: #307B95;
}

.families {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 20px;
}

.family {
    text-align: center;
    margin-bottom: 150px;
}

.family-title {
    margin-bottom: 10px;
    font-size: 15px;
    font-family: "Lora", serif;
    color: #307B95;
}

.family-names {
    font-size: 15px;
    font-family: "Lora", serif;
    line-height: 1.4;
    color: #307B95;
}

@media (max-width: 720px) {
    .title-pembuka,
    .text2,
    .text-rsvp,
    .happy-text{
        font-size: 14px;
    }

    .title-close,
    .family-names,
    .family-title{
        font-size: 10px;
    }

    .title-rsvp{
        font-size: 40px;
    }

    .container{
        transform: translateX(-13%);
    }
}