@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

.row{
    min-height: 100vh;
}

.atass{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.item-image-kiri, .item-image-kanan {
    width: 55%; /* Adjust as needed */
    height: auto;
}

.item-image-kiri {
    position: absolute;
    left: 0;
    top: 0;
}

.item-image-kanan {
    position: absolute;
    right: 0;
    top: 0;
}

.item-image-kanan-bol {
    width: 10%; /* Adjust as needed */
    height: auto;
    margin-top: 20%;
    position: absolute;
    right: 0;
    top: 0;
}

.item-image-kiri-bol {
    position: absolute;
    margin-top: 20%;
    width: 15%;
    left: 0;
    top: 0;
}

.info-invite-2{
    font-family: "Modern Antiqua", serif;
    font-weight: 400;
    font-size: 50px;
    color: #ffffff;
    line-height: 90px;
    align-items: center;
    margin-top: 45%;
    margin-bottom: 10px;
}

.img-tengah{
    width: 60%;
}
 
.text-op{
    font-family: "Modern Antiqua", serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    margin-top: 5%;
    margin-bottom: 10%;
}

.custom-button {
    font-family: "Modern Antiqua", serif;
    font-weight: 400;
    padding: 10px 25px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #DC7272;
    /* Warna merah */
    border: 2px solid #DC7272;
    /* Border merah */
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    z-index: 999;
}

.custom-button .icon {
    margin-right: 8px;
}

.custom-button:hover {
    background-color: transparent;
    color: #DC7272;
    /* Teks berubah menjadi merah */
}

.custom-button:hover .icon {
    color: #DC7272;
    /* Ikon juga berubah merah */
}

.custom-button:focus {
    outline: none;
}

.bawahh {
    position: relative;
    width: 100%;
    height: 215px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.bawah {
    position: absolute;
    overflow: hidden;
    bottom: -40px;
    left: -30px;
    right: 0;
    width: 110%;
    z-index: 1;
}