@import url('https://fonts.googleapis.com/css2?family=Copse&family=Island+Moments&family=Italiana&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.row {
    min-height: 100vh;
    background: linear-gradient(to bottom, #BA9D8B, #54473F);
}

.atass {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.decorations {
    position: relative;
    width: 100%;
    height: 100%;
}

.corner-decoration {
    position: relative;
    width: 100%;
    height: 100px;
    /* overflow: hidden; */
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 2;
}

.bawahh {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bawah {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}


/* content1 */
.invitation {
    text-align: center;
}

.undangan {
    color: #FBFAEA;
    font-family: "Island Moments", cursive;
    font-size: 64px;
    margin-top: 225px;
}

.ornaments {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
}

.ornament {
    width: 60px;
    height: auto;
}

.ornament.left {
    position: absolute;
    left: 0;
}

.ornament.right {
    position: absolute;
    right: 8%;
}

.anak {
    margin-bottom: 100px;
}

.invitation-content {
    text-align: center;
}

.hormat {
    font-family: "Italiana", serif;
    color: #FFFFFF;
}

.nama {
    font-family: "Island Moments", cursive;
    color: #FBFAEA;
    font-size: 45px;
}

.putra {
    font-family: "Lora", serif;
    color: #FFFFFF;
    font-size: 20px;
}

.ortu {
    font-family: "Italiana", serif;
    color: #FFFFFF;
    font-size: 25px;
    margin-bottom: 150px;
}


/* content2 */
.invitation2 {
    text-align: center;
    z-index: 2;
}

.title-2 {
    color: #FBFAEA;
    font-family: "Island Moments", cursive;
    font-size: 64px;
    margin-top: 200px;
}

.laksana {
    font-size: 20px;
    color: #FFFFFF;
    font-family: "Lora", serif;
}

.date {
    font-size: 30px;
    color: #FFFFFF;
    font-family: "Italiana", serif;
}

.time {
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Lora", serif;
}

.ornaments2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
}

.ornament2 {
    width: 60px;
    height: auto;
}

.ornament.left2 {
    position: absolute;
    left: 0;
}

.ornament.right2 {
    position: absolute;
    right: 8%;
}

.countdown-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-family: "Lustria", serif;
    margin-bottom: 100px;
}

.countdown-box {
    background-color: #D6C0B3DB;
    padding: 5px 0;
    border-radius: 5px;
    text-align: center;
    min-width: 60px;
}

.countdown-number {
    font-size: 24px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.countdown-label hr {
    color: black;
}

.countdown-label {
    font-size: 14px;
    color: #ffffff;
    margin: 5px 0 0 0;
    text-transform: uppercase;
}

.boxxs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.boxx {
    width: 296px;
    height: 141px;
    background-color: #D9D9D9;
    border-radius: 6px;
    margin-bottom: 40px;
}

.button-container {
    text-align: center;
    margin-bottom: 32px;
    font-family: "Copse", serif;
    color: #ffffff;
    z-index: 2;
}

.custom-button {
    background-color: #DBE2EF5C;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: "Lora", serif;
    font-size: 10px;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.custom-button i.icon {
    font-size: 18px;
}

.custom-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.custom-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* content3 */
.title-galeri {
    text-align: center;
    font-size: 64px;
    color: #FBFAEA;
    font-family: "Island Moments", cursive;
    margin-top: 200px;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 100px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 50px;
}

.gallery-item1 {
    background-color: #D9D9D9;
    width: 187px;
    height: 175px;
    border-radius: 10px;
    aspect-ratio: 150 / 175;
    /* Responsive height for Galaxy A12 & iPad */
}

.gallery-item2 {
    background-color: #D9D9D9;
    width: 150px;
    height: 175px;
    border-radius: 10px;
    aspect-ratio: 150 / 175;
    /* Responsive height for Galaxy A12 & iPad */
}

.gallery-item3 {
    background-color: #D9D9D9;
    width: 150px;
    height: 175px;
    border-radius: 10px;
    aspect-ratio: 150 / 175;
    /* Responsive height for Galaxy A12 & iPad */
}

.gallery-item4 {
    background-color: #D9D9D9;
    width: 187px;
    height: 175px;
    border-radius: 10px;
    margin-left: -35px;
    /* aspect-ratio: 150 / 175; */
    /* Responsive height for Galaxy A12 & iPad */
}

.gallery-item-wide {
    grid-column: span 2;
    background-color: #D9D9D9;
    width: 350px;
    height: 141px;
    border-radius: 10px;
    aspect-ratio: 357 / 141;
    /* Adjust for wide image */
}

@media screen and (max-width: 720px) {
    .gallery-grid{
        margin-right: 30px;
    }
}


/* content4 */
.invitation-4 {
    text-align: center;
    z-index: 2;
}

.title-3 {
    text-align: center;
    font-size: 64px;
    color: #FBFAEA;
    font-family: "Island Moments", cursive;
    margin-top: 250px;
}

.content4 {
    text-align: center;
}

.text-4 {
    font-size: 15px;
    color: #FFFFFF;
    font-family: "Italiana", serif;
}

.surat {
    font-size: 26px;
    color: #FBFAEA;
    font-family: "Island Moments", cursive;
    margin-bottom: 100px;
}

.ornaments4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
}

.ornament4 {
    width: 60px;
    height: auto;
}

.ornament.left4 {
    position: absolute;
    left: 0;
}

.ornament.right4 {
    position: absolute;
    right: 8%;
}

.btn-container {
    text-align: center;
    margin-bottom: 200px;
    font-family: "Copse", serif;
    color: #ffffff;
    z-index: 2;
}

.ctm-button {
    background-color: #DBE2EF5C;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: "Lora", serif;
    font-size: 10px;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.ctm-button i.icon {
    font-size: 18px;
}

.ctm-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.ctm-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* content5 */
.tanda {
    font-size: 64px;
    color: #FBFAEA;
    text-align: center;
    font-family: "Island Moments", cursive;
    margin-top: 200px;
    z-index: 2;
}

.title-hadiah {
    font-size: 15px;
    font-family: "Lora", serif;
    text-align: center;
    color: #FBFAEA;
}

.boxs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    gap: 10px;
}

.box {
    width: 313px;
    height: 153px;
    background-color: #D9D9D9;
    border-radius: 6px;
    margin-bottom: 10px;
}



/* content6 */
.ornaments6 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
}

.ornament6 {
    width: 60px;
    height: auto;
}

.ornament.left6 {
    position: absolute;
    left: 0;
}

.ornament.right6 {
    position: absolute;
    right: 8%;
}