@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Great+Vibes&display=swap');

body {
    background-color: #D4BEE4;
}

.img-top {
    width: 100%;
    display: block;
    opacity: 0.9;
    
}

.title {
    font-family: "Cinzel", serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 50px;
}

.subtitle {
    font-family: "Great Vibes", serif;
    font-size: 50px;
    margin-top: 85px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

.profile-container {
    position: relative;
    margin-left: 85px;
    width: 200px;
    height: 200px;
}

.profile-container img {
    position: absolute;
    top: 0;
    left: 0;
}

.layer-1 {
    width: 115%;
    height: 114%;
    margin-left: 20px;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 50%;
}

.layer-2 {
    width: 135%;
    height: auto;
    z-index: 2;
}

.layer-3 {
    width: 100%;
    height: auto;
    margin-left: 85px;
    z-index: 3;
}

.info {
    font-family: "Cinzel", serif;
    font-size: 15px;
}

.info-waktu {
    font-family: "Cinzel", serif;
    font-size: 20px;
}

.info-tgl {
    font-family: "Cinzel", serif;
    font-size: 40px;
}

.info-bln {
    font-family: "Cinzel", serif;
    font-size: 28px;
}

.info-tempat {
    margin-top: 15px;
    font-family: "Cinzel", serif;
    font-size: 15px;
}

.custom-btn {
    background-color: #a220ff;
    color: rgb(253, 250, 255);
    font-family: 'Poppins', sans-serif;
    border: none;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-btn:hover {
    background: hsl(266, 81%, 25%);
    color: aliceblue;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-btn:active {
    transform: translateY(0);
}
