@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Kaushan+Script&family=Marcellus&family=Milonga&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Parisienne&family=Passions+Conflict&display=swap');

.row {
    min-height: 100vh;
    background: #2B394D;
    display: flex;
    justify-content: center;
}

.decorations {
    position: relative;
    width: 100%;
    height: 100%;
    /* margin-bottom: 200px; */
}

.left-decoration {
    position: absolute;
    top: 0;
    left: 0;
    width: 376px;
    height: auto;
    z-index: 1;
}

.right-decoration {
    position: absolute;
    top: 0;
    right: 0;
    width: 376px;
    height: auto;
    z-index: 1;
}

.bawahh {
    position: relative;
    width: 100%;
    height: 130px;
}

.bawah {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 376px;
    height: auto;
    z-index: 1;
}

.bawah2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 376px;
    height: auto;
    z-index: 1;
}


/* content1 */
.content1 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Marcellus", serif;
}

.text {
    font-size: 16px;
    margin-top: 300px;
}

.surat {
    font-size: 20px;
    margin-bottom: 200px;
}


/* content2 */
.content2 {
    text-align: center;
    color: #FFFFFF;
}

.title-arab {
    font-family: "Nunito", serif;
    font-size: 24px;
    margin-top: 250px;
}

.text-salam {
    font-family: "Marcellus", serif;
    font-size: 12px;
}

.mempelai {
    margin-top: 50px;
    margin-bottom: 150px;
}

.nama {
    font-family: "Milonga", serif;
    font-size: 20px;
}

.ortu {
    font-family: "Marcellus", serif;
    font-size: 13px;
}

.dan {
    font-family: "Marcellus", serif;
    font-size: 64px;
}


/* content3 */
.content3 {
    text-align: center;
    margin: 20px 0;
    margin-top: 250px;
    margin-bottom: 150px;
}

.couple {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #fff;
}

.bride-section,
.groom-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.bride-section .bride-photo,
.groom-section .groom-photo {}

/* .bride-section .bride-text,
.groom-section .groom-text {
    text-align: left;
    color: #fff;
} */

.bride {
    text-align: left;
}

.bride-name,
.groom-name {
    font-family: "Milonga", serif;
    font-size: 20px;
}

.groom {
    text-align: right;
}

.bride-text,
.groom-text {
    font-family: "Marcellus", serif;
    font-size: 13px;
}


.separator {
    font-size: 64px;
    font-family: "Marcellus", serif;
}




/* content4 */
.invitation {
    text-align: center;
    z-index: 2;
}

.section {
    margin-bottom: 20px;
}

.akad {
    font-family: "Parisienne", serif;
    font-size: 50px;
    color: #FFFFFF;
    margin: 10px 0;
    margin-top: 250px;
}

.event-divider {
    width: 1px;
    height: 50px;
    background-color: #FFFFFF;
    opacity: 1;
}

.date-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}

.date-info .day,
.date-info .year {
    font-family: "Marcellus", serif;
    font-size: 36px;
    color: #FFFFFF;
}

.datee {
    font-family: "Marcellus", serif;
    font-size: 36px;
    color: #FFFFFF;
}

.date-info .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: #FFFFFF;
    font-family: "Marcellus", serif;
}

.lokasi {
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 25px;
    font-family: "Marcellus", serif;
}

.time {
    font-size: 12px;
    color: #FFFFFF;
    margin: 5px 0;
    font-family: "Marcellus", serif;
}

.add {
    font-size: 12px;
    color: #FFFFFF;
    margin: 5px 0;
    font-family: "Marcellus", serif;
}

.countdown-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: "Marcellus", serif;
    margin-bottom: 150px;
}

.countdown-box {
    background-color: #A4C4F2D6;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    min-width: 60px;
}

.countdown-number {
    font-size: 24px;
    color: #000;
    margin: 0;
    padding: 0;
}

.countdown-label hr {
    color: black;
}

.countdown-label {
    font-size: 14px;
    color: #000;
    margin: 5px 0 0 0;
    font-family: "Marcellus", serif;
}


/* content5 */
.content5 {
    text-align: center;
    z-index: 3;
}

.gmaps {
    margin-top: 350px;
    margin-bottom: 50px;
}

.gmaps iframe {
    border-radius: 20px;
    margin-bottom: 6%;
}

.btn-invit {
    display: flex;
    justify-content: center;
}

.btn-invit {
    display: flex;
    justify-content: center;
    margin-bottom: 300px;
}

.custom-button {
    position: absolute;
    font-family: "Istok Web", serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    padding: 5px 25px;
    background-color: #A4C4F2A6;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1;
}

.custom-button:hover {
    border: none;
    background-color: #8daad2a6;
    color: #000;
}



/* content6 */
.galeri {
    text-align: center;
    color: #FFFFFF;
    margin-top: 200px;
    font-family: "Kaushan Script", serif;
    font-size: 48px;
}

.content6 {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    max-width: 400px;
    aspect-ratio: 3 / 4;
    padding: 10px;
}

.grid-item {
    background: #ccc;
    border-radius: 20px;
}


/* content7 */
.content7 {
    z-index: 2;
    text-align: center;
    color: #FFFFFF;
}

.title-rsvp {
    font-size: 24px;
    text-align: center;
    font-family: "Marcellus", serif;
    margin-top: 350px;
}

.text-rsvp {
    font-size: 12px;
    font-family: "Marcellus", serif;
    text-align: center;
    margin-bottom: 250px;
}

.button {
    justify-content: center;
    display: flex;
}

.custom-button {
    background-color: #A4C4F2A6;
    color: #000;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    font-family: "Marcellus", serif;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.custom-button i.icon {
    font-size: 12px;
}

.custom-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.custom-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* content8 */
.content8 {
    z-index: 2;
    color: #FFFFFF;
}

.title-close {
    margin-top: 350px;
    font-size: 12px;
    font-family: "Marcellus", serif;
    text-align: center;
}

.happy-text {
    text-align: center;
    margin: 30px 0;
    font-size: 12px;
    font-family: "Marcellus", serif;
}

.families {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 20px;
}

.family {
    text-align: center;
    margin-bottom: 250px;
}

.family-title {
    margin-bottom: 10px;
    font-size: 10px;
    font-family: "Nunito", serif;
}

.family-names {
    font-size: 10px;
    font-family: "Nunito", serif;
    line-height: 1.4;
}

/* iPad Mini */
@media screen and (min-width: 744px) and (max-width: 1133px) {
    .right-decoration {
        width: 100%;
    }

    .left-decoration {
        width: 60%;
    }

    .bawah{
        width: 90%;
    }

    .bawah2{
        width: 60%;
    }

    .text{
        font-size: 20px;
        margin-top: 400px;
    }

    .surat{
        font-size: 22px;
        margin-bottom: 350px;
    }

    .title-arab{
        font-size: 40px;
        margin-top: 350px;
    }

    .text-salam,
    .ortu,
    .groom-text,
    .bride-text,
    .time,
    .lokasi,
    .add,
    .text-rsvp,
    .custom-button,
    .title-close,
    .happy-text,
    .family-names,
    .family-title{
        font-size: 20px;
    }

    .nama,
    .bride-name,
    .groom-name,
    .title-rsvp{
        font-size: 30px;
    }

    .mempelai{
        margin-bottom: 300px;
    }

    .couple{
        margin-top: 400px;
        margin-bottom: 350px;
    }

    .akad{
        margin-top: 350px;
    }

    .countdown-container{
        margin-bottom: 350px;
    }
    
    .gmaps{
        margin-top: 400px;
    }

    .btn-invit{
        margin-bottom: 400px;
    }

    .galeri{
        margin-top: 400px;
    }

    .grid-container{
        margin-bottom: 350px;
    }

    .button{
        margin-bottom: 400px;
    }

    .title-close{
        margin-top: 430px;
    }

    .families{
        margin-bottom: 200px;
    }
}