<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../asset/css/undangan-v18/style.css">
    <link rel="stylesheet" href="../../../asset/js/undangan-v18/script.js">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Tayakuran Khitan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body style="background-color: antiquewhite;">
    <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto" style="background-color: #ffffff;">
        <!-- contentsatu -->
        <div class="decorations">
            <img src="../../../asset/img/undangan-v18/atas_kiri.png" alt="" class="left-decoration">
        </div>

        <div class="content">
            <h1 class="title" data-aos="zoom-in-up" data-aos-duration="3000"><b>Assalamua'laikum Wr.Wb</b></h1>

            <p class="invitation-text" data-aos="zoom-in-up" data-aos-duration="3000">
                Alhamdulillah, atas karunia dan ridho Allah SWT, kami <br>
                sekeluarga akan melaksanakan khitanan putra kami <br>
                tercinta:
            </p>

            <div class="photo-container">
                <img src="../../../asset/img/undangan-v18/anak.png" alt="Child Photo" class="child-photo" data-aos="flip-up" data-aos-duration="3000">
            </div>

            <h2 class="child-name" data-aos="zoom-in-up" data-aos-duration="3000">Muhammad Abdul Iskandar</h2>
            <p class="parents-name" data-aos="zoom-in-up" data-aos-duration="3000">Putra Bapak Imam Sudbaayo & Ibu Siti Fatonah</p>
        </div>

        <div class="corner-decoration">
            <img src="../../../asset/img/undangan-v18/bawah_kanan.png" alt="Right" class="bottom-right">
        </div>

        <!-- contentdua -->
        <div class="additional-content">
            <div class="vector">
                <img src="../../../asset/img/undangan-v18/Vector.png" alt="">
            </div>

            <div class="quote-section" data-aos="zoom-in-up" data-aos-duration="3000">
                <h1 class="tayakuran-text">
                    <b>Tayakuran Khitan</b>
                </h1>
                <p class="tayakuran-title">
                    Dengan penuh hormat dan ketulusan hati, kami <br>
                    mengundang kehadiran Bapak/Ibu/Saudara/i untuk <br>
                    menghadiri acara tasyakuran khitan putra kami, yang <br>
                    insyaAllah akan diselenggarakan pada:
                </p>
            </div>

            <p data-aos="zoom-in-up" data-aos-duration="3000"><b>Hari Tanggal</b></p>

            <div class="event-details" data-aos="zoom-in-up" data-aos-duration="3000">
                <div class="event-item">
                    <div class="event-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-calendar-minus-fill" viewBox="0 0 16 16">
                            <path
                                d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2M6 10h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1 0-1" />
                        </svg>
                    </div>
                    <div class="event-info">
                        <p class="event-date">Minggu,05 November 2024</p>
                    </div>
                </div>
            </div>
            <br><br>
            <p data-aos="zoom-in-up" data-aos-duration="3000"><b>Tempat</b></p>
            <div class="location" data-aos="zoom-in-up" data-aos-duration="3000">
                <div class="location-item">
                    <div class="location-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                        </svg>
                    </div>
                    <div class="location-info">
                        <p class="location-add">Jalan Prajurit Risun No.12, RT04 / RW05, Kel.
                            Karangklesem, Kec. Purwokerto Selatan, Kab.
                            Banyumas</p>
                    </div>
                </div>
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0"
                            marginwidth="0"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.8796214240666!2d109.23465457482588!3d-7.449633274021075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e656fa0eb71dd31%3A0x7cf93e7294b6d28!2sJl.%20Prajurit%20Risun%20No.12%2C%20Karangklesem%2C%20Kec.%20Purwokerto%20Sel.%2C%20Kabupaten%20Banyumas%2C%20Jawa%20Tengah%2053121!5e0!3m2!1sid!2sid!4v1698425196789!5m2!1sid!2sid">
                        </iframe>
                    </div>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: center;
                            width: 100%;
                            margin-top: 20px;
                        }

                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            width: 100%;
                            border-radius: 10px;
                        }

                        .gmap_iframe {
                            height: 200px !important;
                        }
                    </style>
                </div>

            </div>

            <div class="vector">
                <img src="../../../asset/img/undangan-v18/Vector.png" alt="">
            </div>
        </div>

        <!-- contenttiga -->
        <div class="decorations">
            <img src="../../../asset/img/undangan-v18/atas_kiri.png" alt="" class="left-decoration">
        </div>

        <div class="content3">
            <div class="atass">
                <img src="../../../asset/img/undangan-v18/atas.png" alt="" class="atas">
            </div>

            <p class="ucapan">
                Dengan segala hormat, kami mengundang Bapak/Ibu/ <br>
                Saudara/i untuk hadir. Kehadiran dan doa restu Bapak/ <br>
                Ibu/Saudara/i adalah sebuah kebahagiaan dan <br>
                kehormatan bagi keluarga kami.
            </p>

            <p class="family">
                <b>Hormat kami,</b><br>
                Bapak Imam Subagyo & Ibu Siti Nurhayati
            </p>

            <h3 class="salam"><b>Wassalamu'alaikumm Wr.Wb</b></h3>

            <div class="button-container">
                <button class="rsvp-button">RSVP</button>
            </div>
            
        </div>

        <div class="atass">
            <img src="../../../asset/img/undangan-v18/bawah.png" alt="" class="atas">
        </div>

        <div class="corner-decoration">
            <img src="../../../asset/img/undangan-v18/bawah_kanan.png" alt="Right" class="bottom-right">
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>