<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khitan</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../asset/css/undangan-v37/main.css">
</head>

<body style="background-color: #526D82;">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto"
                style="background-image: url(../../asset/img/undangan-v37/background.png); background-size: cover; position: relative; overflow: hidden;">
                <div class="atass" data-aos="fade-down" data-aos-duration="2000">
                    <img src="../../asset/img/undangan-v37/bintang.png" alt="hiasan" class="item-image-atas">
                </div>
                
                <div class="cover-content text-center p-0">
                   
                    <p class="info-invite-2" data-aos="zoom-in" data-aos-duration="3000">Walimatul Khitan</p>

                    <img src="../../asset/img/undangan-v37/profile.png" alt="" class="img-profile">

                    <p class="text-op" data-aos="zoom-in" data-aos-duration="2000">Kepada Yth; <br>
                        Bapak/Ibu/Saudara/i
                        <br><br>
                        Sulissieee
                     </p>
 
                     <a href="../undangan-v37/content/index.html" class="custom-button"> 
                         <span class="text">
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" fill="currentColor" class="bi bi-envelope-open" viewBox="0 1 17 16">
                                <path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882zM15 7.383l-4.778 2.867L15 13.117zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765z"/>
                           </svg>
                        </span>Buka Undangan</span>
                     </a>

                    <div class="bawahh">
                        <img src="../../asset/img/undangan-v37/img-btm.png" alt="bottom" class="bawah">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        function updateCountdown() {
            const targetDate = new Date('2025-12-25T17:00:00');
            const now = new Date();
            const difference = targetDate - now;

            if (difference > 0) {
                const days = Math.floor(difference / (1000 * 60 * 60 * 24));
                const hours = Math.floor((difference / (1000 * 60 * 60)) % 24);
                const minutes = Math.floor((difference / 1000 / 60) % 60);
                const seconds = Math.floor((difference / 1000) % 60);

                document.getElementById('days').textContent = days.toString().padStart(2, '0');
                document.getElementById('hours').textContent = hours.toString().padStart(2, '0');
                document.getElementById('minutes').textContent = minutes.toString().padStart(2, '0');
                document.getElementById('seconds').textContent = seconds.toString().padStart(2, '0');
            }
        }

        // Update countdown immediately and then every second
        updateCountdown();
        setInterval(updateCountdown, 1000);

    </script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="asset/js/script.js"></script>

</body>

</html>