@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Great+Vibes&display=swap');

body {
    background-color: #88b0cd;
}

.item-image-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
}

.item-image-2 {
    position: absolute;
    top: 5px;
    left: 50%;
    width: 45%;
    transform: translate(-50%);
}

.item-image-3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 110px;
}

.text-invite{
    font-family: "Garamond", serif;
    color: #D36D45;
    font-weight: 700;
    font-size: 20px;
    line-height: 22.5px;
    align-items: center;
}

.title-invite{
    font-family: "Great Vibes", serif;
    color: #303B6B;
    font-weight: 400;
    font-size: 45px;
    line-height: 60.1px;
}

.img-cover{
    margin-top: 50px;
    margin-bottom: 50px;
}

.info-invite-1{
    font-family: "Garamond", serif;
    color: #948686;
    font-weight: 700;
    font-size: 15px;
    line-height: 16.88px;
    align-items: center;
}

.info-invite-2{
    font-family: "Garamond", serif;
    color: #948686;
    font-weight: 700;
    font-size: 15px;
    line-height: 16.88px;
    align-items: center;
    margin-bottom: 50px;
}

.custom-btn {
    background-color: #BF3803;
    color: rgb(253, 250, 255);
    width: 50%;
    font-family: "Garamond", serif;
    border: none;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-btn:hover {
    background: #ae3201;
    color: aliceblue;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-btn:active {
    transform: translateY(0);
}

.img-btm{
    overflow: hidden;
    width: 100%;
    display: block;
    opacity: 0.9;
    margin-top: 80px;
}