<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Christmas</title>
    <link rel="stylesheet" href="../../../asset/css/undangan-v20/content.css">
    <link rel="sty lesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body style="background-color: #C4D7FF;">
    
    <audio hidden autoplay loop>
        <source src="../../../asset/audio/ArianaGrandeSantaTellMe.mp3" type="audio/mp3">
    </audio>

    <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto bg-white">
        <div class="absolute top-0 w-full flex justify-between p-0">
            <div class="cover-content text-center p-10" data-aos="zoom-in" data-aos="zoom-in-up" data-aos-duration="3000">
        
                <div style="position: relative;">
                    <img src="../../../asset/img/undangan-v20/Rectangle 3.png" alt="" class="img-top">
                    <img src="../../../asset/img/undangan-v20/Group 3.png" alt="" class="img-santa-top">
                </div>
              
                <p class="title">Join Us For A Christmas Party</p><br>

                <p class="text-1">Get ready to celebrate the joy of Christmas with a night
                    <br> full of laughter and memories! We are excited to invite
                    <br> you to our Christmas Party, where the holiday magic
                    <br>comes alive!
                </p>

                <img src="../../../asset/img/undangan-v20/cuate.png" alt="" class="img-join">
                <br>
                <img src="../../../asset/img/undangan-v20/Rectangle 7(1).png" alt="" class="img-batas-1">

                <p class="text-2">Venue</p>
                <p class="text-1">Kanna Coffee & Eatery
                    <br> Grand Kanaya Hotel. Jl Raya Baturraden Barat 163,
                    <br> Ketenger, Baturaden, Banyumas Regency
                </p>

                <div class="gmaps">
                    <iframe class="gmaps"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.323753937682!2d109.2274561!3d-7.317481599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6ff5807113c599%3A0x537c89d47c16cb29!2sKanna%20Coffee%20%26%20Eatery!5e0!3m2!1sid!2sid!4v1733045876696!5m2!1sid!2sid"
                        width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <p class="text-2">Date and Time</p>
                <p class="text-1">Thursday, December 26, 2024,
                    <br> at 3:00 p.m. WIB
                </p>
                <br>
                <p class="text-2">Dress Code</p>
                <p class="text-1">Casual attire with a touch of red and green.
                    <br> Show your festive spirit by wearing our signature
                    <br> Christmas colors!
                </p>

                <img src="../../../asset/img/undangan-v20/Rectangle 8.png" alt="" class="img-batas-2">
                <br>

                <p class="text-2">Mark your calendars and don’t miss
                    <br> out on an evening filled with:
                </p>
                <p class="text-1">🎶 Live Music Performances
                    <br> 🍽️ Delicious Festive Dinner
                    <br> 🎯 Fun Games
                    <br> 🎁 Fun Gift Exchange
                    <br> …and a lot of surprises!
                </p>
                <br>
                <p class="text-2">R.S.V.P</p>
                <p class="text-1">Please confirm your attendance by December 20th, 2024
                    <br> by filling out the form below:
                </p>

                <a href="" class="custom-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                        class="bi bi-link-45deg" viewBox="0 0 16 16">
                        <path
                            d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z" />
                        <path
                            d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z" />
                    </svg>
                    <span class="text">Confirm Attendance</span>
                </a>
                <div style="position: relative;">
                    <div class="texts" style="margin-bottom: 3%;">
                        <span class="text2">Sincerely : </span>
                        <p class="text1">
                            Hugo Studio Christmas Party Committee Team
                        </p>
                    </div>
                    <img src="../../../asset/img/undangan-v20/Group 4.png" alt="Hugo Studio Christmas Party" class="img-btm">
                </div>
            </div>
        </div>
    </div>

    <script src="../../../asset/js/undangan-v20/script.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>