<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../asset/css/undangan-v29/content.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Undangan Natal</title>
</head>

<body style="background-color: #ABBA7C;">

    <audio hidden autoplay loop>
        <source src="../../../asset/audio/ArianaGrandeSantaTellMe.mp3" type="audio/mp3">
    </audio>

    <!-- PAGE 1 -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto"
                style="background-color: #0a2e16; position: relative; overflow: hidden;">
                <div class="atass">
                    <img src="../../../asset/img/undangan-v29/kiri.png" alt="hiasan" class="item-image-1">
                    <img src="../../../asset/img/undangan-v29/kanan.png" alt="hiasan" class="item-image-3">
                </div>

                <div class="cover-content text-center p-0">
                    <h1 class="title" data-aos="fade-down" data-aos-duration="2000">Merry <br> Christmas</h1>

                    <div class="img-content" data-aos="zoom-in" data-aos-duration="2000">
                        <img class="natal" src="../../../asset/img/undangan-v29/Menghias-Pohon-Natal (1).png" alt="">
                        <img class="pita" src="../../../asset/img/undangan-v29/pita1.png" alt="">
                    </div>

                    <div class="text" data-aos="zoom-out" data-aos-duration="2000">
                        <p class="text-invit">
                            Salam Damai Dalam Kasih Tuhan <br><br><br>
                            Dalam rangka merayakan Natal tahun <br>
                            ini dengan penuh sukacita, kami mengundang <br>
                            Bapak/Ibu/Saudara/i untuk berkenan hadir dalam acara kami
                        </p>
                    </div>

                    <div class="bawahh">
                        <img src="../../../asset/img/undangan-v29/55a19921ec0f351536e6fee640816384-removebg-preview.png" alt="santa"
                            class="img-btm-kiri">
                        <img src="../../../asset/img/undangan-v29/Group 48.png" alt="hiasan" class="img-btm-kanan">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- PAGE 2 -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto"
                style="background-color: #0a2e16; position: relative; overflow: hidden;">
                <div class="atass">
                    <img src="../../../asset/img/undangan-v29/kiri.png" alt="hiasan" class="item-image-1">
                    <img src="../../../asset/img/undangan-v29/kanan.png" alt="hiasan" class="item-image-3">
                </div>

                <div class="cover-content text-center p-0">
                    <h1 class="title" data-aos="fade-down" data-aos-duration="2000">Christmas <br> Party</h1>

                    <p class="event" data-aos="zoom-in-down" data-aos-duration="2000">25 Desember 2025
                        <br> Pukul 13.00 WIB - selesai
                    </p>

                    <p class="event-place" data-aos="zoom-in-down" data-aos-duration="2000">FOX HARRIS HOTEL</p>

                    <p class="event-location" data-aos="zoom-in-down" data-aos-duration="2000">Jl. Tentara Pelajar No.17, Limbangan, kec. <br> Taman Sari, Bantul,
                        Yogyakarta</p>

                    
                    <div class="countdown-container" data-aos="zoom-in-down" data-aos-duration="2000">
                        <div class="countdown-box">
                            <div id="days" class="countdown-value">00</div>
                            <div class="countdown-label">Hari</div>
                        </div>
                        <div class="countdown-box">
                            <div id="hours" class="countdown-value">00</div>
                            <div class="countdown-label">Jam</div>
                        </div>
                        <div class="countdown-box">
                            <div id="minutes" class="countdown-value">00</div>
                            <div class="countdown-label">Menit</div>
                        </div>
                        <div class="countdown-box">
                            <div id="seconds" class="countdown-value">00</div>
                            <div class="countdown-label">Detik</div>
                        </div>
                    </div>
                    <div class="bawahh">
                        <img src="../../../asset/img/undangan-v29/55a19921ec0f351536e6fee640816384-removebg-preview.png" alt="santa"
                            class="img-btm-kiri">
                        <img src="../../../asset/img/undangan-v29/Group 48.png" alt="hiasan" class="img-btm-kanan">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- PAGE 3 -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto"
                style="background-color: #0a2e16; position: relative; overflow: hidden;">
                <div class="atass">
                    <img src="../../../asset/img/undangan-v29/kiri.png" alt="hiasan" class="item-image-1">
                    <img src="../../../asset/img/undangan-v29/kanan.png" alt="hiasan" class="item-image-3">
                </div>

                <div class="cover-content text-center p-0">
                    <h1 class="title" data-aos="zoom-in-down" data-aos-duration="2000">Christmas <br> Party</h1>

                    <p class="event">25 Desember 2025</p>

                    <div class="gmaps">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3956.6647695939605!2d109.73140637413148!3d-7.391409872765389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7aa9088dc8fcf9%3A0x19d943eb8a68af0b!2sFOX%20HARRIS%20Hotel%20%26%20Convention%20Banjarnegara!5e0!3m2!1sid!2sid!4v1735284175307!5m2!1sid!2sid"
                            width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <p class="event-place">FOX HARRIS HOTEL</p>

                    <div class="btn-invit">
                        <a href="https://maps.app.goo.gl/sScMknbVjJL1rdEq8" class="custom-button">
                            Cek Lokasi
                        </a>
                    </div>

                    <div class="bawahh">
                        <img src="../../../asset/img/undangan-v29/55a19921ec0f351536e6fee640816384-removebg-preview.png" alt="santa"
                            class="img-btm-kiri">
                        <img src="../../../asset/img/undangan-v29/Group 48.png" alt="hiasan" class="img-btm-kanan">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- PAGE 4 -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto"
                style="background-color: #0a2e16; position: relative; overflow: hidden;">
                <div class="atass">
                    <img src="../../../asset/img/undangan-v29/kiri.png" alt="hiasan" class="item-image-1">
                    <img src="../../../asset/img/undangan-v29/kanan.png" alt="hiasan" class="item-image-3">
                </div>

                <div class="cover-content text-center p-0">
                    <h1 class="title" data-aos="fade-down" data-aos-duration="2000">Merry <br> Christmas</h1>

                    <div class="img-content" data-aos="zoom-in" data-aos-duration="2000">
                        <img class="natal" src="../asset/img/Menghias-Pohon-Natal (1).png" alt="">
                        <img class="pita" src="../asset/img/pita1.png" alt="">
                    </div>

                    <div class="text">
                        <p class="text-invit" data-aos="zoom-out" data-aos-duration="2000">
                            Tekan tombol dibawah untuk mengirim ucapan & konfirmasi kehadiran anda
                        </p>
                    </div>

                    <div class="btn-invit">
                        <a href="#ucapan" class="custom-button">
                            Kirim Ucapan
                        </a>
                    </div>


                    <div class="bawahh">
                        <img src="../../../asset/img/undangan-v29/55a19921ec0f351536e6fee640816384-removebg-preview.png" alt="santa"
                            class="img-btm-kiri">
                        <img src="../../../asset/img/undangan-v29/Group 48.png" alt="hiasan" class="img-btm-kanan">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- PAGE 5 -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto"
                style="background-color: #0a2e16; position: relative; overflow: hidden;">
                <div class="atass">
                    <img src="../../../asset/img/undangan-v29/kiri.png" alt="hiasan" class="item-image-1">
                    <img src="../../../asset/img/undangan-v29/kanan.png" alt="hiasan" class="item-image-3">
                </div>

                <div class="cover-content text-center p-0">
                    <h1 class="title" data-aos="fade-down" data-aos-duration="2000">Merry <br> Christmas</h1>

                    <div class="gallery" data-aos="zoom-in" data-aos-duration="2000">
                        <!-- Left column -->
                        <div class="gallery-column">
                            <div class="gallery-item item-tall"></div>
                            <div class="gallery-item item-square"></div>
                        </div>

                        <!-- Right column -->
                        <div class="gallery-column">
                            <div class="gallery-item item-square"></div>
                            <div class="gallery-item item-square"></div>
                            <div class="gallery-item item-square"></div>
                        </div>
                    </div>

                    <div class="bawahh">
                        <img src="../../../asset/img/undangan-v29/55a19921ec0f351536e6fee640816384-removebg-preview.png" alt="santa"
                        class="img-btm-kiri">
                    <img src="../../../asset/img/undangan-v29/Group 48.png" alt="hiasan" class="img-btm-kanan">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- PAGE 6 -->
    <div id="ucapan" class="container-fluid">
        <div class="row justify-content-center">
            <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto"
                style="background-color: #0a2e16; position: relative; overflow: hidden;">
                <div class="atass">
                    <img src="../../../asset/img/undangan-v29/kiri.png" alt="hiasan" class="item-image-1">
                    <img src="../../../asset/img/undangan-v29/kanan.png" alt="hiasan" class="item-image-3">
                </div>

                <div class="cover-content text-center p-0">
                    <h1 class="title" data-aos="fade-down" data-aos-duration="2000">Merry <br> Christmas</h1>

                    <div class="form-container" data-aos="zoom-in" data-aos-duration="2000">
                        <div class="form-field">
                            <input type="text" placeholder="Nama">
                        </div>
                        <div class="form-field">
                            <input type="tel" placeholder="No. Telp">
                        </div>
                        <div class="form-field">
                            <input type="text" placeholder="Kehadiran">
                        </div>
                        <div class="form-field">
                            <textarea placeholder="Ucapan"></textarea>
                        </div>
                    </div>


                    <div class="btn-invit">
                        <a href="#" class="custom-button">
                            Kirim Ucapan
                        </a>
                    </div>


                    <div class="bawahh">
                        <img src="../../../asset/img/undangan-v29/55a19921ec0f351536e6fee640816384-removebg-preview.png" alt="santa"
                            class="img-btm-kiri">
                        <img src="../../../asset/img/undangan-v29/Group 48.png" alt="hiasan" class="img-btm-kanan">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- PAGE 7 -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="row col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mx-auto"
                style="background-color: #0a2e16; position: relative; overflow: hidden;">
                <div class="atass">
                    <img src="../../../asset/img/undangan-v29/kiri.png" alt="hiasan" class="item-image-1">
                    <img src="../../../asset/img/undangan-v29/kanan.png" alt="hiasan" class="item-image-3">
                </div>

                <div class="cover-content text-center p-0">

                    <div class="text-closse" data-aos="fade-up" data-aos-duration="2000">
                        <p class="text-invitt">
                            Merupakan suatu kebanggan dan kehormatan bagi
                            <br> kami apabila Bapak/Ibu/Saudara/i berkenan hadir
                            <br> memeriahkan acara perayaan Natal ini.
                            <br><br>
                            See You At

                        </p>
                    </div>

                    <h3 class="text-close" data-aos="fade-up" data-aos-duration="2000">Christmast Party</h3>

                    <p class="text-invitt" data-aos="fade-up" data-aos-duration="2000">Mark and Family</p>

                    <div class="bawahh">
                        <img src="../../../asset/img/undangan-v29/55a19921ec0f351536e6fee640816384-removebg-preview.png" alt="santa"
                            class="img-btm-kiri">
                        <img src="../../../asset/img/undangan-v29/Group 48.png" alt="hiasan" class="img-btm-kanan">
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script>
        function updateCountdown() {
            const targetDate = new Date('2025-12-25T17:00:00');
            const now = new Date();
            const difference = targetDate - now;

            if (difference > 0) {
                const days = Math.floor(difference / (1000 * 60 * 60 * 24));
                const hours = Math.floor((difference / (1000 * 60 * 60)) % 24);
                const minutes = Math.floor((difference / 1000 / 60) % 60);
                const seconds = Math.floor((difference / 1000) % 60);

                document.getElementById('days').textContent = days.toString().padStart(2, '0');
                document.getElementById('hours').textContent = hours.toString().padStart(2, '0');
                document.getElementById('minutes').textContent = minutes.toString().padStart(2, '0');
                document.getElementById('seconds').textContent = seconds.toString().padStart(2, '0');
            }
        }

        // Update countdown immediately and then every second
        updateCountdown();
        setInterval(updateCountdown, 1000);

    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

</body>

</html>