@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Great+Vibes&display=swap');

body {
    background-color: #8EACCD;
}

.snowflakes {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
    position: fixed;
    top: -20%;
    animation: fall 10s linear infinite;
    z-index: 1;
}

.title{
    margin-top: 25px;
    margin-bottom: 70px;
    font-family: "Cinzel", serif;
    font-weight: 600;
    color: #C13445;
}

.subtitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color: #00477B;
}

.info{
    font-family: 'Poppins', sans-serif;
    color: #00477B;
    margin-bottom: 10px;
    font-size: medium;
}

.info-jam{
    font-family: 'Poppins', sans-serif;
    color: #00477B;
    margin-top: 50px;
    font-size: medium;
}

.info-invate {
    font-family: 'Poppins', sans-serif;
    color: #00477B;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: medium;
}


.content {
    position: relative;
    z-index: 2;
    padding: 2rem;
    text-align: center;
}


.countdown-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

.countdown-box {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 70px;
}

.countdown-value {
    color: #1A4677;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.countdown-label {
    color: #756b6b;
    font-size: 0.8rem;
}

.button {
    background-color: #FDA91E;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    border: none;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #1557b0;
}

.santa-sleigh {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    z-index: 3;
}

/* Styling untuk gambar utama */
.main-image {
    width: 425px; /* Base width, adjust as needed */
    opacity: 0.9; /* Slight transparency to match watercolor effect */
    transform: scale(1.05); /* Slight zoom on hover */
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 68px;
    border-radius: 8px 8px 0 0;
}

@media (max-width: 480px) {
    .countdown-container {
        gap: 0.5rem;
    }

    .countdown-box {
        min-width: 60px;
        padding: 0.75rem;
    }

    .countdown-value {
        font-size: 1.25rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 1.25rem;
    }
}
